$p-color: #8a43ff;
$p-light: #ebe0ff;
$s-color: #0081ff;
$s-light: #e0f0ff;
$t-color: #132238;
$paragraph: #727882;
$h-color: #ffffff;
$f-color: #132238;

$p-text: #ffffff;
$s-text: #ffffff;
$h-text: #132238;
$f-text: #ffffff;
$c-white: #ffffff;