@use './_color.scss' as *;
@use './_mixins.scss' as *;

.section-title {
    font-size: 50px;
    color: $t-color;
    font-weight: 700;
    line-height: 60px;
    position: relative;

    &:after {
        content: '';
        height: 2px;
        background: $t-color;
        width: 80px;
        position: absolute;
        bottom: 10px;
        margin-left: 15px;
    }

    @include sm {
        font-size: 30px;
        line-height: normal;

        &:after {
            width: 60px;
            margin-left: 10px;
        }
    }
}